<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bme.syx.cloud.dao.CarWashMapper">
    <insert id="insertCarWashList" parameterType="list">
        INSERT INTO `t_import_car_wash_info`
        (
        `customer_id`,
        `dtu_num`,
        `dtu_name`,
        `address`,
        `lat`,
        `lng`,
        `is_sewage_treatment`,
        `is_water_shaking_table`,
        `is_drying_device`,
        `status`,
        `device_no`,
        `import_data`
        )
        VALUES
        <foreach collection="list" item="i" separator=",">
            (
            #{i.customer_id},
            #{i.dtu_num},
            #{i.dtu_name},
            #{i.address},
            #{i.lat},
            #{i.lng},
            #{i.is_sewage_treatment},
            #{i.is_water_shaking_table},
            #{i.is_drying_device},
            #{i.status},
            #{i.device_no},
            #{i.import_data}
            )
        </foreach>
    </insert>

</mapper>
