<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bme.syx.es.dao.DeviceTypeMapper">


    <select id="getDeviceType" resultType="String">
        select primary_type_id from t_device where device_No= #{deviceNo} and customer_id = #{customerId};
    </select>


    <select id="getSignalList" resultType="com.bme.syx.es.entity.SignalData" parameterType="java.util.Map">
        SELECT
            ts.signal_no,
            tds.device_no,
            ts.customer_id,
            ts.category_id,
            ts.signal_name,
            ts.unit
        FROM
            t_device_signal tds
                INNER JOIN t_signal ts ON ts.signal_no = tds.signal_no
        WHERE
            tds.customer_id = #{customerId}
          AND tds.device_no = #{deviceNo};
    </select>

</mapper>