<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bme.syx.es.dao.DeviceTypeMapper">


    <select id="getDeviceType" resultType="String">
        select primary_type_id from t_device where device_No= #{deviceNo} and customer_id = #{customerId};
    </select>



</mapper>