<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bme.syx.password.InitAdminPasswordMapper">

    <select id="queryPassword" resultType="com.bme.syx.password.AdminPassword">
        select  * from  sys_user_password
    </select>


    <update id="updatePassword" parameterType="com.bme.syx.password.AdminPassword">
        update sys_user_password
            set password = #{password},
                passwordmw = #{passwordmw},
                update_time = #{update_time}
        where customer_id = #{customerId} and account= #{account}
    </update>
</mapper>
