<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bme.syx.ding.PushDingMapper">

    <select id="selectAll" resultType="com.bme.syx.ding.PushDingEntity">

        select * from t_push_dingding where status = 1;

    </select>

</mapper>