<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bme.syx.cloud.dao.SignalMapper">
    <insert id="insertSignal" parameterType="list">
        INSERT INTO `t_import_signal`
        (
        `customer_id`,
        `signal_no`,
        `signal_name`,
        `category_id`,
        `unit`,
        `period`,
        `remark`,
        `node_id`,
        `upper_limit`,
        `lower_limit`,
        `device_no`,
        `open_range`,
        `import_data`
        )
        VALUES
        <foreach collection="list" item="i" separator=",">
            (
            #{i.customer_id},
            #{i.signal_no},
            #{i.signal_name},
            #{i.category_id},
            #{i.unit},
            #{i.period},
            #{i.remark},
            #{i.node_id},
            #{i.upper_limit},
            #{i.lower_limit},
            #{i.device_no},
            #{i.open_range},
            #{i.import_data}
            )
        </foreach>
    </insert>


    <update id="updateSignalPeriod30" parameterType="String">
        update t_import_signal ts set ts.period = 30
        where (period like '%半分钟%'  or period like '%实时%' or period like '%30%')  and ts.customer_id  = #{customerId};
    </update>

    <update id="updateSignalPeriod60" parameterType="String">
        update t_import_signal ts set ts.period = 60
        where (period like '%一分钟%'  or period like '%1分钟%' or period like '%60%')  and ts.customer_id  = #{customerId};
    </update>

    <update id="updateSignalPeriod300" parameterType="String">
        update t_import_signal ts set ts.period = 300
        where (period like '%五分钟%'  or period like '%5分钟%' or period like '%300%')  and ts.customer_id  = #{customerId};
    </update>
    <update id="updateSignalStandard" parameterType="String">
        update t_import_signal ts set ts.standard_data = ( select  tt.standard_data from  t_signal_standard_data tt where   tt.signal_no  = ts.signal_no)
        where ts.customer_id  = #{customerId};
    </update>

</mapper>
