<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bme.syx.cloud.dao.UlevCameraMapper">
    <insert id="insertUlevCamera" parameterType="list">
        INSERT INTO `t_import_ulev_camera`
        (
        `customer_id`,
        `area_name`,
        `camera_name`,
        `classify_name`,
        `channel_id`,
        `ip_address`,
        `nvr_ip`,
        `nvr_username`,
        `nvr_password`,
        `seq`,
        `status`,
        `import_data`,
        `model`,
        `type`
        )
        VALUES
        <foreach collection="list" item="i" separator=",">
            (
            #{i.customer_id},
            #{i.area_name},
            #{i.camera_name},
            #{i.classify_name},
            #{i.channel_id},
            #{i.ip_address},
            #{i.nvr_ip},
            #{i.nvr_username},
            #{i.nvr_password},
            #{i.seq},
            #{i.status},
            #{i.import_data},
            #{i.model},
            #{i.type}
            )
        </foreach>
    </insert>

</mapper>
